services:
  api:
    container_name: cinema_api
    build:
      context: ./cinema-api
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: development
    volumes:
      - ./cinema-api:/app
      - /app/node_modules
    depends_on:
      - postgres
      - redis
      - rabbitmq

  worker:
    container_name: cinema_worker
    build:
      context: ./cinema-api
    command: npm run worker
    env_file:
      - .env
    depends_on:
      - postgres

  postgres:
    container_name: cinema_postgres
    image: postgres:16
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    container_name: cinema_redis
    image: redis:7
    ports:
      - "6379:6379"

  rabbitmq:
    container_name: cinema_rabbitmq
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}

volumes:
  postgres_data:
